head
  title Books

body

  h1(class="nav-bar") Welcome to Book Tracker!

  +book
  div(class="container")
    header
      |Read List

    form(class="new-task")
      input(type="text" name="title" placeholder="Title")
      input(type="text" name="author" placeholder="Author")
      button(type="submit" name="add"). Add

    table(class="table")
      thead
        tr
          td Title
          td Author
          td
      tbody
        +each books
          tr
           td {{title}}
           td {{author}}
           td
             button(class="delete") Delete

template(name="book")