head
  title Books

body

  h1(class="nav-bar") Welcome to Book Tracker!

  +book
  div(class="container")
    header
      |Read List

    form(class="new-task")
      input(type="text" name="title" placeholder="Title")
      input(type="text" name="author" placeholder="Author")
      input(type="text" name="pages" placeholder="Pages")
      input(type="date" name="dateStarted" placeholder="Date Started")
      input(type="date" name="dateFinished" placeholder="Date Finished")
      button(type="submit" name="add"). Add

    table(class="table")
      thead
        tr
          td Title
          td Author
          td Pages
          td Date Started
          td Date Finished
          td Days
          td
      tbody
        +each books
          tr
           td {{title}}
           td {{author}}
           td {{pages}}
           td {{dateStarted}}
           td {{dateFinished}}
           td {{days}}
           td
             button(class="delete") Delete

template(name="book")