template(name='exampleModal')
    .modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title Modal example

                .modal-body
                    p A modal example.

                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
