template(name="componentHeader")
    h1(class="nav-bar") Welcome to Book Tracker!
    div(id="navbar")
        a(href="/") Home
        a(href="/books") Books
    div(id="login")
        {{> loginButtons}}
