template(name="books")
  +book
  div(class="container")
    header
      |Read List
    button(class="add btn btn-primary") Add New
    table(class="table table-striped")
      thead
        tr(class="book")
          td Title
          td Author
          td Pages
          td Date Started
          td Date Finished
          td Days
          td Avg. Pages
          td
          td
      tbody
        +each books
          tr
           td {{title}}
           td {{author}}
           td {{pages}}
           td {{formatDate dateStarted}}
           td {{formatDate dateFinished}}
           td {{days}}
           td {{avgPages}}
           td
             button(class="edit btn btn-default") Edit
           td
             button(class="delete red btn btn-danger") Delete
