template(name="page")
    div(id="container")
        a(href="https://github.com/justinmc/meteor-backbone-boilerplate")
        div(id="header")
        div(id="content")
        div(id="footer") Created by Lauren Muhar 2016
